body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.container {
    width: 300px;
    padding: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: #ffffff;
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #111111;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333333;
}

a {
    color: #555;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    color: #000;
}
