<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/Suppliers/create.css}" />
    <title th:text="${title}">Create Supplier</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="header finisher-header" style="width: 100%; height: 100vh">
      <div class="form-container">
        <h1>Create Supplier</h1>
        <form th:action="@{/suppliers}" th:object="${suppliers}" method="post">
          <div class="form-group">
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              th:field="*{name}"
              placeholder="Enter supplier's name"
              required
            />
          </div>
          <div class="form-group">
            <label for="direction">Direction:</label>
            <input
              type="text"
              id="direction"
              th:field="*{direction}"
              placeholder="Enter supplier's direction"
              required
            />
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input
              type="tel"
              id="phoneNumber"
              th:field="*{phoneNumber}"
              placeholder="Enter supplier's number"
              required
              pattern="[0-9]+"
              title="Only numbers are allowed"
            />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              th:field="*{email}"
              placeholder="Enter supplier's email"
              required
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn-submit">Create Supplier</button>
          </div>
        </form>
      </div>
    </div>
    
  </body>
</html>
