body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #1a1a1a;
    border-bottom: 1px solid #333;
}

header h1 {
    color: #1f77cf;
    margin-bottom: 0.5rem;
}

header p {
    color: #ccc;
    font-size: 1.2rem;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.supplier-details-card {
    background: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
    border-radius: 10px;
    padding: 2rem;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.supplier-details-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.supplier-details-card h2 {
    margin-top: 0;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}

.supplier-details-card p {
    font-size: 1.1rem;
    margin: 1rem 0;
}

.supplier-details-card strong {
    color: #ddd;
}

.btn-back {
    display: block;
    text-align: center;
    margin: 2rem auto 0;
    padding: 0.8rem 1.5rem;
    background-color: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-back:hover {
    background-color: #333;
}

.btn-back:active {
    transform: scale(0.98);
}

.buttons {
    display:flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.btn-back,
.btn-submit {
    padding: 0.8rem 1.5rem;
    background-color: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    cursor: pointer;
}

.btn-submit {
    display: block;
    text-align: center;
    margin: 2rem auto 0;
    padding: 0.8rem 1.5rem;
    background-color: #ff0000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-submit:hover {
    background-color: #9e2828;
}

.btn-submit:active {
    transform: scale(0.98);
}


.btn-submit strong {
    color: #000000;
}