<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
  <nav th:fragment="menu">
    <div class="logo">
      <img src="images/menu/logo-negro.png">
      <h3>SportWear</h3>
    </div>
    <ul>
      <li class="dropdown"><a href="#">Collection<span class="arrow">▾</span></a>
        <ul class="dropdown-content">
          <li><a href="#">Shirts</a></li>
          <li><a href="#">Shorts</a></li>
          <li><a href="#">Camisoles</a></li>
          <li><a href="#">Sweatshirts</a></li>
          <li><a href="#">Hoodie</a></li>
        </ul>
      </li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Sign In</a></li>
    </ul>
  </nav>
</body>
</html>
