<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <header class="site-header">
      <div class="logo">
          <a th:href="@{/}" title="Home">AirTiclothes</a>
      </div>
      <nav class="main-nav">
          <ul>
              <div sec:authorize="isAnonymous()">
                  <li><a th:href="@{/signup}">Sign Up</a></li>
              </div>
              <div sec:authorize="isAuthenticated()">
                  <li><a th:href="@{/logout}">Logout</a></li>
              </div>
              <li><a th:href="@{/}">Home</a></li>
              <li><a th:href="@{/suppliers}">Suppliers</a></li>
              <li><a th:href="@{/suppliers/create}">Create Suppliers</a></li>
          </ul>
      </nav>
  </header>
</div>
